.text_1 {
    font-family: 'Charter';
font-style: normal;
font-weight: 400;
font-size: 48px;
color: #3F4346;
}

.text_2 {
    font-family: 'Charter';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #3F4346;
}

.campaign_Flow_1_1 {
    background: #F2F2F3;
border-radius: 8px 8px 0px 0px;
height: 281px;
width: 603px;
}

.text_3 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #212528;
}