.text_1 {
    font-family: 'Charter';
font-style: normal;
font-weight: 400;
font-size: 48px;
color: #3F4346;
}

.text_2 {
    font-family: 'Charter';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #3F4346;
}

.campaign_Flow_1_1 {
    background: #F2F2F3;
    border-radius: 8px 8px 0px 0px;
}

.text_3 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #212528;
}

.text_4 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #212528;
}

.back_Color {
    background: rgba(123, 127, 130, 0.1);
border-radius: 8px;
height: 100px;
width: 632px;
}

.campaign_Button {
    border: 2px solid #1E75BA;
border-radius: 4px;
}

.text_5 {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #1E75BA;
}

.text_5 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #212528;
}

.text_6 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #3F4346;
}

.text_7 {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #1E75BA;
}

.background_Color {
    color: #1E75BA;
}