.footer {
    background-color: black;
}

.text1 {
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.vl {
    border-left: 1px solid #6c6c6c;
    height: 264px;
    top: 0;
    margin-left: 88px;
    margin-right: 88px;
}

.text2 {
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.text3 {
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.text4 {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.text_End {
    width: 100%;
}
