.footer{
    padding: 0 15vw;
    background-color: var(--black-color);
    color: var(--white-color);
    // height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: var(--whiet-color);
  
  }
.full-line{
    height: 250px;
    border-left: 1px solid var(--grey-color);
}
  
  .f-menu-cont{
    // padding-left: 10vw;
    width: 800px;
    justify-content: space-between;
  }
  .c-col-one{
    color: var(-grey-color);
  }
  .f-nav-link-cont{
    gap: 8px;
  }







