#offcanvasScrolling {
  width: 910px;
  padding-top: 95px;
}
.z-i-1046 {
  position: relative;
  z-index: 1046;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

// Productmenu
#product-menu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 99;
  padding-top: 120px;
  overflow: auto;  
  opacity: 0;
  display: none;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;  
  &.active{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    display: block;
    width: 50%;
  }
  .menu{
    min-width: 300px;
  }
}

.product-cont{
  margin-bottom: 24px;
  .product-dis{
    margin-left: 16px;
    h4{
        font-size: 24px;        
    }
  }
}

.head-p {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 24px;
}
.sub-p {
  text-transform: none;
  font-size: 14px;
}
.applications{
  gap:14px;
}
#menu-backdrop.active{
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background: rgba(0,0,0,0.2);
}