.us-cont{
    width: 100%;    
    display: flex;   
    gap:100px 
}
.us-nav-cont{
    height: auto;
}
.us-nav{
    position: sticky;
    top: 38%;
   
}
.us-nav-options{
    img{
        width: 30px;
        height: 30px;
    }
    span{
        font-weight: 500;
        padding-left: 24px;
    }
}

.us-main{
    padding:  300px 0 0 0;
    button{
        width: 124px;
    }
}
.pb-300{
    padding-bottom:300px ;
}
@media only screen and (max-width: 992px) {
    .us-main{
        padding: 20px 0;
    }
}
.us-main-content{
    gap:15px
}
.us-nav-options{
    img{
        opacity: 20%;
    }
}
.active{
    img{
        opacity: 100!important;
    }
}

.utility-img{
    width: clamp(250px,30vw,500px);
}