.us-cont{
    width: 100%;    
    display: flex;   
    gap:100px 
}
.us-nav-cont{
    height: auto;
    // width: 386px;
}
.us-nav{
    // width: 386px;
    // height: 440px;
    position: sticky;
    top: 40%;
   
}
.us-nav-options{
    span{
        font-weight: 500;
        padding-left: 24px;
    }
}
.us-main-p{
    padding: 0 0 200px 0;
}
.us-main{
    // padding:  100px 0;
    button{
        width: 124px;
    }
}
.us-main-content{
    gap:15px
}
.us-nav-options{
    img{
        opacity: 20%;
    }
}
.active{
    img{
        opacity: 100!important;
    }
}