.us-cont{
    width: 100%;    
    display: flex;   
    gap:100px 
}
.us-nav-cont{
    height: auto;
}
.us-nav{
    position: sticky;
    top: 38%;
   
}
.us-nav-options{
    img{
        width: 30px;
        height: 30px;
    }
    span{
        font-weight: 500;
        padding-left: 24px;
    }
}
.us-spacer{
    height: 200px;
}

.us-main{    
    button{
        justify-content: flex-start;
    }
}
.pb-300{
    padding-bottom:300px ;
}

.us-main-content{
    gap:15px
}
.us-nav-options{
    img{
        opacity: 20%;
    }
}
.active{
    img{
        opacity: 100!important;
    }
}

.utility-img{
    width: clamp(300px,60vw,500px);
}
@media only screen and (max-width: 992px) {
    .us-main{
        padding: 10px;
    }
        .us-spacer{
            height: 20px;
        }
        
        .section{
            padding: 0!important;
        }
    
}
@media only screen and (max-width: 768px) {
    .utility-img{
        margin: 20px auto;
    }

}
