:root{
    --primary-color: #1E75BA;
    --whatsapp: #29A653;
    --light-blue: #F0F7FD;
    --black-color:#212528;
    --white-color:#ffffff;
    --c-light-grey: #ccc;
    --c-grey:#6C6C6C;
    --radius1: 4px;
    --radius2: 8px;
    --radius3: 16px;
    --radius4: 24px;
    --hello :#E18700;
    --otp:#3A73B5;
    --segmento:#E55CA1;
    --campaign:#9C5CE5;
    --sms-light: rgba(77, 160, 255, 0.16);
    --email-light: rgba(204, 82, 41, 0.12);
    --whatsapp-light: rgba(111, 202, 113, 0.16);
    --telegram-light: rgba(37, 162, 224, 0.1);
    --voice-light: rgba(105, 107, 239, 0.12);
    --rcs-light:  rgba(56, 146, 224, 0.12);
    --border-color: #ddd;
    
    font-size: 16px;
    // --heading:clamp(2.25rem,4vw,3.75rem); //36px 60px
    // --sub-heading:clamp(1.25rem,3vw,2.25rem); //20pc 36px
    // --c-fs-1:clamp(2.25rem,4vw,2.62rem); //26px  42px
    // --c-fs-2:clamp(1.5rem,2.2vw,2rem); //24px 32px
    // --c-fs-3:clamp(1.13rem,2vw,1.5rem); //18px 24px
    // --c-fs-4:clamp(1.13rem,1.8vw,1.25rem); //18px 20px
    // --c-fs-5:clamp(0.9rem,1.5vw,1rem); //14px 16px
    // --c-fs-6:14px;
    // --c-fs-7:12px;
    // --c-ff-h: 'Manrope', sans-serif;
    // --c-ff-b: 'Manrope', sans-serif;;

    --heading:clamp(2.25rem,4vw,3.25rem); //36px 52px
    --sub-heading:clamp(1.75rem,3vw,2.5rem); //28px 40px
    --small-heading:clamp(1.25rem,2.6vw,1.875rem); //20px 30px
    --c-fs-1:clamp(1.25rem,2.6vw,1.875rem); //20px 30px
    --c-fs-2:clamp(1.5rem,2vw,1.5rem); //16px 24px
    --c-fs-3:clamp(1rem,1.5vw,1.25rem); //16px 20px
    --c-fs-4:clamp(1rem,1.5vw,1rem); //16px 20px
    --c-fs-5:clamp(0.875rem,1vw,0.8rem); //16px 20px


    // btn/
    --bs-btn-border-radius:4px !important;
}


    