:root{
    --primary-color: #1E75BA;
    --black-color:#212528;
    --white-color:#ffffff;
    --c-light-grey: #ccc;
    --c-grey:#6C6C6C;
    --radius: 8px;
    --sms-light: rgba(77, 160, 255, 0.16);
    --email-light: rgba(204, 82, 41, 0.12);
    --whatsapp-light: rgba(111, 202, 113, 0.16);
    --telegram-light: rgba(37, 162, 224, 0.1);
    --voice-light: rgba(105, 107, 239, 0.12);
    --rcs-light:  rgba(56, 146, 224, 0.12);
    
    font-size: 10px;
    --heading:clamp(3.6rem,4vw,6rem);
    --sub-heading:clamp(2rem,3vw,3.6rem);
    --c-fs-1:42px;
    --c-fs-2:32px;
    --c-fs-3:24px;
    --c-fs-4:20px;
    --c-fs-5:16px;
    --c-fs-6:14px;
    --c-fs-7:12px;
    --c-ff-h:charterbold;
    --c-ff-b:jost;

}


// font size
.heading{
    font-size: var(--heading);
}
.sub-heading{
    font-size: var(--sub-heading);
}
.c-fs-1{
    font-size: var(--c-fs-1);
}
.c-fs-2{
    font-size: var(--c-fs-2);
}
.c-fs-3{
    font-size: var(--c-fs-3);
}
.c-fs-4{
    font-size: var(--c-fs-4);
}
.c-fs-5{
    font-size: var(--c-fs-5);
}
.c-fs-6{
    font-size: var(--c-fs-6);
}
.c-fs-7{
    font-size: var(--c-fs-7);
}
// font variation
.c-ff-h{
    font-family: var(--c-ff-h);
}
.c-ff-b{
    font-family: var(--c-ff-b);
}
// font weight
.c-fw-t{
    font-weight: 300;
}
.c-fw-r{
    font-weight: 400;
}
.c-fw-m{
    font-weight: 500;
}
.c-fw-sb{
    font-weight: 600;
}
.c-fw-b{
    font-weight: 700;
}