:root{
    --primary-color: #1E75BA;
    --black-color:#212528;
    --radius: 8px;
    --sms-light: rgba(77, 160, 255, 0.16);
    --email-light: rgba(204, 82, 41, 0.12);
    --whatsapp-light: rgba(111, 202, 113, 0.16);
    --telegram-light: rgba(37, 162, 224, 0.1);
    --voice-light: rgba(105, 107, 239, 0.12);
    --rcs-light:  rgba(56, 146, 224, 0.12);
}