@import'import';
body,html{
    font-family: 'Jost', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}
h1 {
  font-family: "charterbold", "Times New Roman", Times, serif;
}
p {
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.heading {
  font-size: 72px;
}
.sub-heading {
  font-size: 24px;
}

// header scss
.header-c {
  padding: 120px;
  height: 80px;
}
.nav-c {
  width: 514px;
  li {
    padding: 0 40px 0 0;
    font-size: 20px;
    a {
      color: var(--black-color);
    }
  }
}
// notification scss
.notification {
  background-color: #edeeee;
  height: 40px;
  padding: 0 120px;
  div {
    // font-size: 16px;
    .badge {
      background-color: #29a653;
      font-weight: 500;
      margin-right: 10px;

    }
    div {
      margin-left: 40px;
    }
    .n-ico {
      margin-right: 10px;
    }
  }
}

h1,.charterbold{
    font-family: 'charterbold', 'Times New Roman', Times, serif;
}
h2,.charterregular{
    font-family: 'charterregular', 'Times New Roman', Times, serif;
}
// Productmenu



// custom padding
.p-l-10{
  padding-left: 10px;
}
.p-r-16{
  padding-right: 16px;
}
.p-r-10{
  padding-right: 10px;
}
.m-r-16{
  margin-right: 16px;
}

.m-y-120{
  margin: 0 120px;
}
.section{
    padding-top: 100px;
    padding-bottom: 100px;
}
