@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import "fonts";
@import "var";
@import "home";
body,
html {
      font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  font-family: "charterbold", "Times New Roman", Times, serif;
}
p {
  margin: 0;
  padding: 0;
}
.heading {
  font-size: 72px;
}
.sub-heading {
  font-size: 24px;
}

// header scss
.header-c {
  padding: 120px;
  height: 80px;
}
.nav-c {
  width: 514px;
  li {
    padding: 0 40px 0 0;
    font-size: 20px;
    a {
      color: var(--black);
    }
  }
}
// notification scss
.notification {
  background-color: #edeeee;
  height: 40px;
  padding: 0 120px;
  div {
    // font-size: 16px;
    .badge {
      // background-color: green;
    }
    div {
      margin-left: 40px;
    }
    .n-ico {
      margin-right: 10px;
    }
  }
}

h1,.charterbold{
    font-family: 'charterbold', 'Times New Roman', Times, serif;
}
// Productmenu
.product-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 40px;
  background: rgba(0, 0, 0, 0.15);
  flex: none;
  order: 13;
  flex-grow: 0;
  z-index: 13;
}